:root {
    --base-size: 16px;
    --gutter-size: var(--base-size);
    --color-primary: rgb(0, 255, 55);
    --color-secondary: black;
    --color-accent: #041464;
    --color-green: #03e634;
    --color-white: white;
    --font-size: var(--base-size);
    --font-heading: "Jacquard 24", sans-serif;
    --font-body: "Playfair Display", sans-serif;
    background-image: url("background.svg");
    background-attachment: fixed;
    max-width: 100%;
    max-height: fit-content;
    margin: 0;
    padding: 0;
}

@media (min-width: 600px) {
    :root {
        --base-size: 20px;
        --gutter-size: calc(3 * var(--base-size));
    }
    dialog {
        max-width: 50vw; 
    }
}

body {
    overflow-x: hidden; 
}

header {
    font-family: var(--font-heading);
    font-weight: 400;
    color: var(--color-primary);
    text-align: center;
}

main {
    min-height: 755vh;
    max-height: fit-content;
    margin-top: calc(13.5 * var(--base-size));
    position: relative;
}

h1 {
    padding: calc(10 * var(--base-size)) calc(2 * var(--base-size));
}

h2 {
    padding-right: calc(2 * var(--base-size));
    padding-left: calc(2 * var(--base-size));
    font-size: calc(1.25 * var(--base-size));
    font-family: var(--font-heading);
    padding-bottom: calc(1.5 * var(--base-size));
}

em {
    font-style: italic;
}

h4 {
    color: var(--color-accent);
    font-family: var(--font-body);
    font-size: calc(1.25 * var(--base-size));
    font-style: italic;
}

p {
    font-size: calc(1.5 * var(--base-size));
    font-family: var(--font-heading);
    color: var(--color-accent);
    display: flex;
    justify-content: center;
    margin-top: calc(0.5 * var(--base-size));
}

#pings {
    display: none;
}

/* BUTTON STYLING */
#buttons {
    font-family: var(--font-heading);
    font-size: calc(1.25 * var(--base-size));
    backdrop-filter: saturate(180%) blur(10px);
}

.buttons {
    font-family: var(--font-heading);
    padding: calc(1 * var(--base-size)) calc(1 * var(--base-size));
    color: var(--color-green);
    border-bottom: 2px solid var(--color-green);
}

#filter-buttons {
    padding: calc(0.25 * var(--base-size));
    font-family: var(--font-body);
    font-style: italic;
    font-size: calc(1 * var(--base-size));
    background: var(--color-primary);
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	position: sticky;
	top: 0;
    z-index: 1000;
    /* flex-wrap: wrap; */
    /* gap: calc(0.5 * var(--base-size)); */
}

.filter-button {
    padding: calc(1 * var(--base-size)) calc(0.75 * var(--base-size));
    background: var(--color-primary);
    color: var(--color-accent);
    transition: all 0.3s ease-in-out;
}

.filter-button:hover, .filter-button.active {
    background: var(--color-accent);
    color: var(--color-primary);
    border-radius: calc(2 * var(--base-size));
}

/* MEDIA STYLING */
#channel-title {
    font-size: calc(2 * var(--base-size));
    padding-bottom: calc(1.25 * var(--base-size));
}

#channel-description {
    display: none;
}

#channel-blocks {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: calc(5 * var(--base-size));
    padding: calc(2 * var(--base-size));
    z-index: 10;
}

#channel-blocks li {
    display: flex;
    position: relative;
    width: calc(15 * var(--base-size));
    height: calc(15 * var(--base-size));
    border-radius: 50%; 
    overflow: hidden;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-green);
    animation: pulse 3s infinite ease-in-out;
}

figcaption {
    font-size: calc(1.25 * var(--base-size));
    font-family: var(--font-heading);
    color: var(--color-accent)
}

#channel-blocks li img, #channel-blocks li video, #channel-blocks li iframe {
    width: calc(25 * var(--base-size));
    height: calc(25 * var(--base-size));
    object-fit: cover; 
    overflow: hidden;
    object-position: center;
}

#channel-blocks .block-quotes, #channel-blocks .block-pdf, #channel-blocks .block-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* AUDIOS 
#channel-blocks li audio {
    width: 100%;
    height: auto;
    background: var(--color-primary);
    /* border-radius: calc(5 * var(--base-size)); */
} */

/* PDFS */
#channel-blocks li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); 
    }
    100% {
        transform: scale(1);
    }
} */

#channel-blocks li:nth-child(3n) {
    animation-delay: 1s;
}

#channel-blocks li:nth-child(4n) {
    animation-delay: 2s;
}

#channel-blocks li:nth-child(5n) {
    animation-delay: 3s;
}

#channel-blocks li:nth-child(6n) {
    animation-delay: 4s;
}

#channel-blocks li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #03e634be;
    color: var(--color-accent);
    pointer-events: none
}

#channel-blocks li:hover::before {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

/* DIALOG FORMATING */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(20 * var(--base-size));
    max-width: 95vw; 
    max-height: 80vh; 
    transform: translate(-50%, -50%);
    background: var(--color-green);
    padding: calc(1 * var(--base-size));;
    border-radius: calc(1 * var(--base-size));;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 50vh;
    height: auto;
    overflow-y: auto;
    border-radius: calc(1 * var(--base-size));
    object-fit: contain;
}

.block-title {
    font-size: calc(2 * var(--base-size));
    font-family: var(--font-heading);
    color: var(--color-accent);
}

.close-button {
    display: block;
    width: 100%; 
    background-color: var(--color-accent);
    color: var(--color-white);
    padding: calc(0.5 * var(--base-size)) calc(1 * var(--base-size));
    font-size: calc(1 * var(--base-size));
    margin-top: calc(0.75 * var(--base-size));
    cursor: pointer;
    border-radius: calc(1 * var(--base-size));
}

.close-button:hover {
    background: white;
    color: var(--color-accent);
}

.block-image img {
    margin-top: calc(0.75 * var(--base-size));
    width: calc(10 * var(--base-size));
    height: calc(10 * var(--base-size));
    object-fit: cover;
    object-position: center;
    border-radius: calc(1 * var(--base-size));
}

.dialog-text {
    font-family: var(--font-body);
    font-size: calc(1 * var(--base-size));
    text-align: left;
    line-height: calc(1.5 * var(--base-size));
    margin-bottom: calc(0.75 * var(--base-size));
    overflow-wrap: break-word;
}

.block-video video, .block-media iframe {
    height: auto;
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    border-radius: calc(1 * var(--base-size));
}

.block-video a, .block-media a {
    font-size: calc(0.75 * var(--base-size));
    color: var(--color-accent);
    margin-bottom: calc(0.5 * var(--base-size));
    text-decoration: underline;
}

/* SONAR EFFECT */
.app {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    /* overflow: hidden; */
    max-height: 100vh;
    z-index: -10;
}

.sonar {
    width: 50%;
    padding-top: 50%;
    height: 0;
    position: relative;
}

.sonar__container {
    width: calc(800 * var(--base-size));
    height: calc(800 * var(--base-size));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--color-green);
    border-radius: 50%;
    backdrop-filter: saturate(180%) blur(10px);
}

.degree {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.degree__line {
    height: 50%;
    width: 1px;
    background: var(--color-green);
    left: 50%;
    bottom: 50%;
    position: absolute;
    transform-origin: bottom center;
}

.distance__circle:nth-child(1) { width: 5%; height: 5%; }
.distance__circle:nth-child(2) { width: 10%; height: 10%; }
.distance__circle:nth-child(3) { width: 15%; height: 15%; }
.distance__circle:nth-child(4) { width: 20%; height: 20%; }
.distance__circle:nth-child(5) { width: 25%; height: 25%; }
.distance__circle:nth-child(6) { width: 30%; height: 30%; }
.distance__circle:nth-child(7) { width: 35%; height: 35%; }
.distance__circle:nth-child(8) { width: 40%; height: 40%; }
.distance__circle:nth-child(9) { width: 45%; height: 45%; }
.distance__circle:nth-child(10) { width: 50%; height: 50%; }
.distance__circle:nth-child(11) { width: 55%; height: 55%; }
.distance__circle:nth-child(12) { width: 60%; height: 60%; }
.distance__circle:nth-child(13) { width: 65%; height: 65%; }
.distance__circle:nth-child(14) { width: 70%; height: 70%; }
.distance__circle:nth-child(15) { width: 75%; height: 75%; }
.distance__circle:nth-child(16) { width: 80%; height: 80%; }
.distance__circle:nth-child(17) { width: 85%; height: 85%; }
.distance__circle:nth-child(18) { width: 90%; height: 90%; }
.distance__circle:nth-child(19) { width: 95%; height: 95%; }
.distance__circle:nth-child(20) { width: 100%; height: 100%; }

.distance__circle {
    width: 50%;
    height: 50%;
    background: transparent;
    box-shadow: 
        inset 1px 0 0 0 var(--color-green),
        inset -1px 0 0 0 var(--color-green),
        inset 0 1px 0 0 var(--color-green),
        inset 0 -1px 0 0 var(--color-green);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.degree__line:nth-child(1) { transform: translate(-50%, 0) rotateZ(0deg); }
.degree__line:nth-child(2) { transform: translate(-50%, 0) rotateZ(30deg); }
.degree__line:nth-child(3) { transform: translate(-50%, 0) rotateZ(60deg); }
.degree__line:nth-child(4) { transform: translate(-50%, 0) rotateZ(90deg); }
.degree__line:nth-child(5) { transform: translate(-50%, 0) rotateZ(120deg); }
.degree__line:nth-child(6) { transform: translate(-50%, 0) rotateZ(150deg); }
.degree__line:nth-child(7) { transform: translate(-50%, 0) rotateZ(180deg); }
.degree__line:nth-child(8) { transform: translate(-50%, 0) rotateZ(210deg); }
.degree__line:nth-child(9) { transform: translate(-50%, 0) rotateZ(240deg); }
.degree__line:nth-child(10) { transform: translate(-50%, 0) rotateZ(270deg); }
.degree__line:nth-child(11) { transform: translate(-50%, 0) rotateZ(300deg); }
.degree__line:nth-child(12) { transform: translate(-50%, 0) rotateZ(330deg); }

.rotary {
    width: 100%;
    height: 100%;
    background: conic-gradient(rgba(0, 7, 22, 0) 90%, var(--color-green));
    overflow: hidden;
    border-radius: 50%;
    animation: rotating 5.4s linear infinite;
    transform-origin: center center;
    position: absolute;
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

footer {
    background-color: var(--color-green); 
    padding: calc(1 * var(--base-size)) 0;
    margin-top: calc(1 * var(--base-size));
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    text-align: center;
}

footer p {
    font-family: var(--font-body);
    font-size: calc(1 * var(--base-size));
    margin: 0;
    flex: 1; 
}