:root {
	--base-size: 16px;
	--gutter-size: var(--base-size);

	--color-primary: white;
	--color-secondary: black;
	background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(72,105,163,1) 60%, rgba(137,179,217,1) 100%);;

	--font-size: (var(--base-size));
	--font-heading: "Jacquard 24";
	--font-
}

@media (min-width: 600px) {
	:root {
		--base-size: 20px;
		--gutter-size: calc(3 * var(--base-size));
	}
}

header {
	font-family: var(--font-heading);
	font-weight: 400;
	color: var(--color-primary);
	padding: calc(10 * var(--base-size)) calc(2 * var(--base-size));
	text-align: center;
}

h1 { 
	font-size: calc(1.25 * var(--base-size));
}

h2 {
	font-style: italic;
	font-size: calc(1.25 * var(--base-size));
	padding-top: calc(1.25 * var(--base-size));
}


#main-content {
	block-size: 75vh;
	padding-top: var(--base-size);
	padding-bottom: calc(2 * var(--base-size));
}

footer {
	padding-top: var(--base-size);
	padding-bottom: calc(5 * var(--base-size));
}